
SneakShare.xcodeproj/project.xcworkspace/xcuserdata/emre.xcuserdatad/UserInterfaceState.xcuserstate
SneakShare.xcodeproj/xcuserdata/emre.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
*.xcbkptlist
